<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a
                        class="{{ 'app_webmaster_dashboard' in app.request.attributes.get('_route')  ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'app_webmaster_dashboard' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_webmaster_dashboard') }}"
                >
                    <i class="bi-building"></i>
                    {% trans %}Dashboard{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'app_webmaster_offer' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'app_webmaster_offer' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_webmaster_offer') }}"
                >
                    <i class="bi-trophy-fill"></i>
                    {% trans %}Offers{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'app_webmaster_stream' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'app_webmaster_stream' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_webmaster_stream') }}"
                >
                    <i class="bi-cone-striped"></i>
                    {% trans %}Stream{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'app_webmaster_payout' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'app_webmaster_payout' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_webmaster_payout') }}"
                >
                    <i class="bi-cash"></i>
                    {% trans %}Payouts{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'app_webmaster_stats' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'app_webmaster_stats' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_webmaster_stats') }}"
                >
                    <i class="bi-bar-chart"></i>
                    {% trans %}Stats{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</nav>