{% extends 'webmaster/base.html.twig' %}

{% block title %}{% trans %}Streams{% endtrans %}{% endblock %}

{% block body %}
    {% if pagination %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Create Date{% endtrans %}</th>
            <th>{% trans %}Url{% endtrans %}</th>
            <th>{% trans %}Geo{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for stream in pagination %}
            <tr>
                <td>{{ stream.uniqueId }}</td>
                <td>{{ stream.name }}</td>
                <td>{{ stream.createdAt | date("d.m.Y H:i") }}</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" value="{{ stream.url }}">
                    </div>
                </td>
                <td>
                    <img src="{{ stream.geo.imageFilename | imagine_filter('flag') }}"> {{ stream.geo.country }}
                </td>
                <td>
                    <a href="{{ path('app_webmaster_stream_edit', {"id": stream.id}) }}" class="bi-pen"></a>
                    <a href="#" class="bi-trash" data-toggle="modal" data-target="#confirmDialog" data-href="{{ path('app_webmaster_stream_delete', {"id": stream.id}) }}" data-content="{% trans %}Are you sure that you want to delete stream{% endtrans %}?"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    {% endif %}
    <div class="modal" id="confirmDialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5  id="confirmDialog-title" class="modal-title">{% trans %}Confirm dialog{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="confirmDialog-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a href="#" id="confirmDialog-href" class="btn btn-primary">{% trans %}Confirm{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}