{% extends 'webmaster/base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Profile{% endtrans %}</h1>
    <table class="table table-dark">
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}Balance{% endtrans %}</strong></td>
            <td>₴ {{ app.user.balance }}</td>
        </tr>
    </table>
    <h2>{% trans %}Payment system{% endtrans %}</h2>
    <a href="{{ path('app_webmaster_profile_payment', {'id': payoutFirstMethod.id}) }}">{% trans %}payment systems{% endtrans %}</a>
    <h2>Api</h2>
    <table class="table table-dark">
        <tr>
            <td><strong>{% trans %}Token{% endtrans %}</strong></td>
            <td>{{ app.user.apiToken }}</td>
        </tr>
        <tr>
            <td><strong>{% trans %}Download{% endtrans %}</strong></td>
            <td>
                {% trans %}
                    Dear partner! If you want to drive traffic to the API using your landing page and transit, please read the attached instructions below.
                {% endtrans %}
            </td>
        </tr>
        <tr>
            <td><strong>{% trans %}Instruction{% endtrans %}</strong></td>
            <td>
                <a href="https://docs.google.com/document/d/1Vp2sxGE1pkqjVLYX40nShF101oO24tLdqEcyRVKBHIU/edit?usp=sharing" target="_blank">{% trans %}Open instruction{% endtrans %}</a>
            </td>
        </tr>
        <tr>
            <td><strong>{% trans %}Download{% endtrans %}</strong></td>
            <td>
                <a href="{{ path('app_webmaster_download_order_file') }}" target="_blank">order.php</a>
            </td>
        </tr>
    </table>
    <h2>Postback</h2>
    <p>
        {lead_id} - {% trans%}lead id{% endtrans%} ({% trans %}string 13 symbols{% endtrans %})<br>
        {status_lead} - {% trans %}status is numeric{% endtrans%}  (0 - new, 2 - confirmed, 1 - rejected, 3 - trash)<br>
        {utm_source} - {% trans %}stream id{% endtrans %} ({% trans %}string 13 symbols{% endtrans %})<br>
        {utm_medium} - Utm Medium<br>
        {utm_campaign} - Utm Campaign<br>
        {utm_content} - Utm Content<br>
        {utm_term} - Utm Term<br>
        {money} - {% trans %}Lead rate{% endtrans %}<br>
        {currency} - {% trans %}Payout currency{% endtrans %}
        <hr>
        {% trans %}Example{% endtrans %}: https://cpa-bond.com/ru/postback/test?lead_id={lead_id}&status_lead={status_lead}&utm_source={utm_source}&utm_medium={utm_medium}&utm_campaign={utm_campaign}&utm_content={utm_content}&utm_term={utm_term}&money={money}&currency={currency}
    </p>
    {{ form_start(postbackForm) }}
        {{ form_widget(postbackForm) }}
        <button type="submit" class="btn btn-info">{% trans %}Save{% endtrans %}</button>
    {{ form_end(postbackForm) }}
{% endblock %}
