{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}Create{% endtrans %} {{ platformType }}{% endblock %}

{% block body %}
    {% include 'admin/partial/category.breadcrumb.html.twig' with {'routeName': 'app_admin_category', 'baseDivName': 'Category management'} %}
    {% if category %}
        <h3>{% trans %}Create{% endtrans %} {{ platformType }} {% trans %}inside category{% endtrans %} "{{ category.name }}"</h3>
    {% endif %}
    {{ form_start(platformForm) }}
    {{ form_widget(platformForm) }}
    {% if app.request.attributes.get('_route')|route_name_to_array|last == 'create' %}
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    {% else %}
        <button type="submit" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
    {% endif %}
    {{ form_end(platformForm) }}
{% endblock %}

