<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a
                        class="{{ 'admin_category' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if app.request.attributes.get('_route') == 'app_admin_category' %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_category') }}"
                >
                    <i class="bi-building"></i>
                    {% trans %}Category management{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'admin_currency' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if app.request.attributes.get('_route') == 'app_admin_currency' %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_currency') }}"
                >
                    <i class="bi-currency-exchange"></i>
                    {% trans %}Currency{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'admin_geo' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if app.request.attributes.get('_route') == 'app_admin_geo' %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_geo') }}"
                >
                    <i class="bi-geo"></i>
                    {% trans %}Geo{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'admin_offer' in app.request.attributes.get('_route') ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if app.request.attributes.get('_route') == 'app_admin_offer' %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_offer') }}"
                >
                    <i class="bi-trophy-fill"></i>
                    {% trans %}Offer{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'admin_pay_out_methods' in app.request.attributes.get('_route')  ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'admin_pay_out_methods' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_pay_out_methods') }}"
                >
                    <i class="bi-cash"></i>
                    {% trans %}Payout methods{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="{{ 'admin_translate' in app.request.attributes.get('_route')  ? 'nav-link active link-dark' : 'nav-link' }}"
                        {% if 'admin_translate' in app.request.attributes.get('_route') %}
                            aria-current="page"
                        {% endif %}
                        href="{{ path('app_admin_translate') }}"
                >
                    <i class="bi-book"></i>
                    {% trans %}Translation{% endtrans %}
                </a>
            </li>
            {% if is_granted('ROLE_MANAGER') %}
                <li class="nav-item">
                    <a
                            class="{{ 'admin_payout' in app.request.attributes.get('_route')  ? 'nav-link active link-dark' : 'nav-link' }}"
                            {% if 'admin_payout' in app.request.attributes.get('_route') %}
                                aria-current="page"
                            {% endif %}
                            href="{{ path('app_admin_payout') }}"
                    >
                        <i class="bi-cash"></i>
                        {% trans %}Payouts{% endtrans %}
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="{{ 'admin_user' in app.request.attributes.get('_route')  ? 'nav-link active link-dark' : 'nav-link' }}"
                            {% if 'admin_user' in app.request.attributes.get('_route') %}
                                aria-current="page"
                            {% endif %}
                            href="{{ path('app_admin_user') }}"
                    >
                        <i class="bi-people"></i>
                        {% trans %}Users{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>